main {
  background: lightcyan; }

h2 {
  margin: 0;
  padding: 50px 150px;
  font-size: 36px; }

.bottles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.reason img {
  display: block;
  width: 75%; }

.reason {
  position: relative; }

.open {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1; }

.closed {
  z-index: 2; }
